<databaseInfo>
<APPLICATION_NAME>jdtraffic</APPLICATION_NAME>
<CLIENT_ID>726146007796-hbq6req8sh2gsa2rsa4h4dfaksc7v42u.apps.googleusercontent.com</CLIENT_ID>
<CLIENT_SECRET>1RLq-XwF6W6v7_dKkGEPJij9</CLIENT_SECRET>
<REFRESH_TOKEN>1/2Abea6NIIw5oNMZxOOhyVyHhgOwsuYXwJp71Chyu3GU</REFRESH_TOKEN>
<NETWORK_CODE>61493089</NETWORK_CODE>
<REDIRECT_URL>https://jdtraffic.2adpro.com/getRefreshAccessTokens.php</REDIRECT_URL>
<APP_VERSION>v201608</APP_VERSION>
<ACCESS_KEY_TABLE>oauth_access_key</ACCESS_KEY_TABLE>
<HTTP_PATH>http://jdtrafficws.localhost</HTTP_PATH>
<JDTRAFFIC_WS_URL>http://localhost/ws-jdtraffic/web/index.php</JDTRAFFIC_WS_URL>
<DB_HOST>localhost</DB_HOST>
<DB_USER>umakant</DB_USER>
<DB_PWD>welcome@123</DB_PWD>
<DB_NAME>jdtraffic</DB_NAME>
</databaseInfo>